<h1>Dashboard#index</h1>
<table>
  <thead>
  </thead>
  <tbody>
    <% sum = 0 %>
    <% count = 0 %>
    <% @detailed_report.each do |entry| %>
    <tr>
      <td><%= entry["date"] %></td>
      <td><%= entry["organization"] %></td>
      <td><%= entry["client"] %></td>
      <td><%= entry["project"] %></td>
      <td><%= entry["project_active"] %></td>
      <td><%= entry["task"] %></td>
      <td><%= entry["person"] %></td>
      <td><%= entry["hours"] %></td>
      <% sum += entry["hours"] %>
      <% count+=1 %>
    <% end %>
  </tbody>
</table>
<%= sum %>
<br/>
    <%= count %>
