<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @organization.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @organization.password %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @organization.subdomain %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
